.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: #ffffff;
}
.navigation-links-text1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
}













@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #292b2f;
}
.home-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: rgba(0, 0, 0, 0);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #2f3136;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.home-text {
  top: -28px;
  left: -32px;
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.home-date-time {
  color: #ffffff;
  align-self: flex-end;
  text-align: justify;
}
.home-date-time1 {
  top: 32px;
  left: 591px;
  color: #ffffff;
  position: absolute;
  align-self: flex-end;
  text-align: right;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-text03 {
  top: 223px;
  color: rgb(255, 255, 255);
  right: 98px;
  position: absolute;
}
.home-text09 {
  top: 223px;
  left: 589px;
  color: rgb(255, 255, 255);
  position: absolute;
}
.home-text13 {
  top: 190px;
  color: #ffffff;
  right: 126px;
  position: absolute;
  font-size: 25px;
}
.home-text14 {
  top: 174px;
  left: 82px;
  color: rgb(255, 255, 255);
  z-index: 100;
  position: absolute;
}
.home-container3 {
  top: 149px;
  left: 70px;
  width: 225.3125px;
  height: 114px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(47, 51, 56);
}
.home-text24 {
  top: 0px;
  left: 0px;
  color: rgb(255, 255, 255);
  position: absolute;
  background-color: rgb(64, 68, 75);
}
.home-button {
  left: 11px;
  color: rgb(255, 255, 255);
  bottom: 6px;
  position: absolute;
  align-self: flex-start;
  border-color: #202225;
  border-style: hidden;
  background-color: rgb(32, 34, 37);
}
.home-text30 {
  top: 142px;
  left: 766px;
  color: #ffffff;
  position: absolute;
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
}
